body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 35px;
  text-align: center;
}

button {
  background-color: #3882f6;
  border-radius: 8px;
  color: white;
  padding: 7px 24px;
  border-style: none;
  box-shadow: 10px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 25px;
}

.headerlinks {
  display: flex;
  gap: 16px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero {
  display: flex;
  padding-bottom: 50px;
}

.herotext {
  margin-left: auto;
  max-width: 430px;
}

.heromain {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  width: max-content;
  max-width: 300px;
}

.heroimg {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.headerlinks,
.herosecondary {
  font-size: 18px;
  color: #e5e7eb;
}

.informationheader {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
}

.infoimglist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.infoimg {
  width: 150px;
  border-style: groove;
  border-color: #3882f6;
  border-radius: 8px;
}

.imgtext {
  max-width: 150px;
  color: #1f2937;
}

.quotesection {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding-bottom: 100px;
  margin-bottom: 20px;
  align-content: center;
  justify-content: center;
  max-height: 250px;
  overflow: hidden;
}

.quotetext {
  display: flex;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  padding: 100px 340px 0px 340px;
  max-width: 1000px;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.quotename {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 550px;
  font-size: 22px;
  font-weight: bold;
}

.action {
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 5px;
  width: 850px;
  height: 120px;
  margin: 70px auto;
  display: flex;
}

.actiontxt1 {
  margin-top: 30px;
  margin-left: 80px;
}

.actiontxt2 {
  margin-left: 80px;
  margin-top: -10px;
}

.signbtn {
  align-self: center;
  border-color: #f9faf8;
  border-style: groove;
  margin-left: 130px;
}

.footer {
  color: #f9faf8;
  padding-top: 20px;
  text-align: center;
  margin-top: auto;
}

.footertext {
  margin-bottom: 30px;
}

.header,
.hero,
.footer {
  background: #1f2937;
}
